body {
    background-color: hsl(30, 38%, 92%);

}

h5 {
    color: hsl(212, 21%, 14%);
}
p {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
}

.card-text {
   
    font-size: 14px;
}

.exprice {
    text-decoration: line-through;
}

span {
    font-family: 'Montserrat', sans-serif ;
}

.price {
    color: green;
    font-family: 'Fraunces', 'sans-serif';
    font-size: 2rem;
    font-weight: bold;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');


.card-title {
    font-family: 'Fraunces', 'sans-serif';
    font-size: 2rem;
    font-weight: 700;
}


.perfume {
    height: 100%;
    width: 100%;
}